@font-face {
    font-family: 'HankenGrotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1,h2,h3,h4{
    font:inherit;
}

img{
    display: block;
}

body{
    font:18px 'HankenGrotesk',sans-serif;
    height:100vh;
    height:100dvh;
}

.attribution { 
    position:fixed;
    width:100%;
    bottom:0;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}